@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@400;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #e0dbd4;
  --foreground: #4f2d1d;
  --card: #ffffff;
  --card-foreground: #4f2d1d;
  --popover: #ffffff;
  --popover-foreground: #4f2d1d;
  --primary: #32462f;
  --primary-foreground: #e0dbd4;
  --secondary: #4f2d1d;
  --secondary-foreground: #e0dbd4;
  --muted: #e0dbd4;
  --muted-foreground: #32462f;
  --accent: #4f2d1d;
  --accent-foreground: #e0dbd4;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #32462f;
  --input: #32462f;
  --ring: #4f2d1d;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    position: relative;
  }
}

@layer components {
  .imigongo-border {
    border: 3px solid transparent;
    border-image: url('/imigongo.jpg') 30 round;
  }
  
  .pacifico {
    font-family: var(--font-poppins);
    font-weight: 700;
  }
  
  .playfair {
    font-family: "Playfair Display", serif;
  }
  
  .heading {
    font-family: var(--font-poppins);
    font-weight: 700;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
    font-weight: 700;
  }
}
